@font-face {
  font-family: "Avenir Black";
  font-weight: 700;
  src: url(fonts/Avenir/Avenir-Black.ttf);
}

@font-face {
  font-family: "Avenir Book";
  src: url(fonts/Avenir/Avenir-Book.ttf);
}

@font-face {
  font-family: "Avenir Heavy";
  src: url(fonts/Avenir/Avenir-Heavy.ttf);
}

@font-face {
  font-family: "AvenirNext Bold";
  src: url(fonts/AvenirNext/AvenirNext-Bold.ttf);
}

@font-face {
  font-family: "Lato Regular";
  src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Lato Bold";
  src: url(fonts/Lato/Lato-Bold.ttf);
}
